* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* variables */
:root {
  --bg-blue: #5863f8;
  --bg-header: #e3e4fe;
  --gray-200: #e5e7eb;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --green-success: #5dd9c1;
  --red-danger: #db5461;
  --red-danger-fade: #fce8eb;
}
/* variables */

body {
  background: var(--bg-blue);
  font-family: 'Sen', sans-serif;
  padding: 30px 20px;
  font-size: 16px;
  max-width: 375px;
  margin: 0 auto;
}

p {
  font-size: 1rem;
}

li,
label {
  font-size: 0.9375rem;
}

ul {
  margin-left: 0.875rem;
}

#calculator,
#result {
  background: white;
  border-radius: 10px;
}

#result {
  margin-top: 1.25rem;
}

#calculator header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 0;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
}

#calculator header {
  background: var(--bg-header);
}

.shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-500);
  margin-bottom: 1.875rem;
}

#info-icon {
  margin-right: 6px;
  width: 20px;
  height: 20px;
}

#info-text {
  font-size: 0.875rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin: 1.875rem 0;
}

.grid-container label {
  color: var(--gray-800);
}

.grid-container input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
  position: relative;
}

.input-box {
  display: block;
  position: relative;
}

.unit-right {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  font-size: 0.8125rem;
  font-weight: 700;
  color: var(--gray-700);
}

form #buttons-group {
  margin-top: 30px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

#buttons-group button {
  padding: 14px;
  width: 100%;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

#calculate-btn {
  background: var(--green-success);
  color: black;
}

#reset-btn {
  background: var(--red-danger-fade);
  color: var(--red-danger);
}

#form-validation,
#result {
  display: block;
}

.block {
  display: block;
}

.hide {
  display: none;
}

.error-border {
  border: 1px solid red;
}

.error-text {
  font-size: 0.8125rem;
  color: red;
  grid-column: 2 / 3;
}

.container {
  padding: 20px;
}

.disable {
  opacity: 0.5;
}

.disable:hover {
  cursor: not-allowed;
}

#result header {
  text-align: center;
  margin-bottom: 1.25rem;
}

#result h5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: var(--gray-900);
  margin-bottom: 0.25rem;
}

#result .date {
  color: var(--gray-600);
}

#result .border {
  border: 1px solid var(--gray-200);
  margin-top: 1.25rem;
}

#result .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin: 10px 0;
}

.row .regular-title {
  font-weight: 400;
  color: var(--gray-700);
  font-size: 0.9375rem;
}

.row .bold-title {
  font-weight: 700;
  color: var(--gray-800);
  font-size: 0.9375rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
